@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Orbitron|Prompt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

html {
  scroll-behavior: smooth !important;
}

h1 {
  font-size: 60px;
  font-family: 'Liu Jian Mao Cao', cursive;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../public/background/cool-background2.png");
  background-size:cover;
}

.aboutIcons {
  margin: 0 20px;
}

.sectionHeader{
  width: 100%;
  font-size: 40px;
  font-family: 'Liu Jian Mao Cao', cursive;
}

.container {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap:wrap;
}

#about {
  width: 50%;
  align-self: center;
}

.content {
  width: 100%;
  text-align: left;
  font-size:25px;
}

.skills-ul {
  text-align: left;
  font-size: 25px;
  font-family: 'Prompt', sans-serif;
  color: #076cb0;
  font-weight: bold;
  list-style-type: none;
}

.skills-li {
  font-size: 25px;
  color: black;
  padding: 0 0 0 10px;
  font-weight: normal;
}

.projects-li {
  cursor: pointer;
  margin: 15px;
  text-decoration: underline;
  font-size:25px;
}

.projects-ul {
  list-style-type:none;
  font-family: 'Prompt', sans-serif;
  margin-top:0;
  width: 50%;
}

.projectHeader {
  align-self:center;
  font-size:25px;
  margin-top:0;
  width: 100%;
}

#projects {
  width: 85%;
  flex-direction: column;
  align-items:center;
  align-self:center;
}

.footer {
  align-self: center;
  font-size: 18px;
  margin:0;
}