.screenshot {
  width: 100%;
  max-height: 550px;
  object-fit: contain;
}

.slick-next {
  right: -50px!important;
}

.slick-prev {
  left: -50px!important;
}

.slick-prev::before,
.slick-next::before {
  color: white!important;
}

.slick-slide img {
  border: 5px #fff;
  display: block;
  margin: auto;
}

.slick-slider {
  margin: 20px auto 30px;  
}

.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  width: 100%;
  max-height: 550px;
  align-items: flex-start;
  justify-content: center;
}

.slick-dots li button::before{
  color:white!important;
}

.sliderContainer {
  width: 85%;
}

@media screen and (max-width: 1050px) {
  .slick-next {
    display: none!important;
  }
  
  .slick-prev {
    display: none!important;
  }

  .sliderContainer {
    width: 95%;
  }
  
}
