.sliderContainer {
  padding: 20px;
  width: 800px;
  align-self: center;
}

.screenshot {
  height: 800px;
  width: 100%;
}

.slick-prev::before,
.slick-next::before {
  color: black!important;
}

.slider {
  overflow: hidden;
}