.card-frame {
  border:solid aliceblue 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self:center;
  justify-content: center;
  background: black;
  width: 70%;
  margin-top:20px;
}

.desc-frame {
  display:flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  width: 100%;
}

.github-button {
  display:flex;
  align-self: center;
  margin: 0 100px;  
}

.help-text {
  text-align: center;
  font-size: 14px;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-weight: bolder;
  padding: 0 50px ;
  display:none;
}

.list-frame {
  display:flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  width: 100%;
}

.project-headers{
  padding: 0 50px;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  list-style-type: none;
}

.project-nav {
  display:flex;
  flex-direction: row;
  align-content:center;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;

}

@media screen and (max-width: 1400px) {
  .card-frame {
    width: 90%;
  }  
}

@media screen and (max-width: 1050px) {
  .help-text {
    display: block;
  }  
}